@font-face {
  font-family: "Futura PT";
  src:  url("../fonts/Futura PT/Futura-Normal.woff2") format("woff2");
        url("../fonts/Futura PT/Futura-Normal.woff") format("woff");
        url("../fonts/Futura PT/Futura-Normal.ttf") format("ttf");
        font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src:  url("../fonts/Futura PT/Futura-Bold.woff2") format("woff2");
        url("../fonts/Futura PT/Futura-Bold.woff") format("woff");
        url("../fonts/Futura PT/Futura-Bold.ttf") format("ttf");
        font-weight: bold;
}

@font-face {
  font-family: "PT Sans";
  src:  url("../fonts/PT Sans/PTSans-Normal.woff2") format("woff2");
        url("../fonts/PT Sans/PTSans-Normal.woff") format("woff");
        url("../fonts/PT Sans/PTSans-Normal.ttf") format("ttf");
        font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:  url("../fonts/PT Sans/PTSans-Bold.woff2") format("woff2");
        url("../fonts/PT Sans/PTSans-Bold.woff") format("woff");
        url("../fonts/PT Sans/PTSans-Bold.ttf") format("ttf");
        font-weight: bold;
}


body {
  font-family: "Futura PT", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  width: calc(100% - 20px);
}

.promo {
  background-image: url(../images/index/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: -400px;
  background-size: cover;
  height: 475px;
}

.promo__container {
  position: relative;
  padding-top: 10px;
}

.promo__logo {
  width: 70px;
  height: 26px;
  top: 15px;
}

.promo__burger {
  position: absolute;
  width: 40px;
  height: 30px;
  border: 1px solid green;
  top: 10px;
  right: 0;
}


.promo__title {
  width: 220px;
  margin-top: 130px;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}

.promo__title span {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 13px;
}

.promo__btn {
  position: absolute;
  border: 3px solid #74e196;
  color: #fff;
  top: 550px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.btn {
  width: 135px;
  height: 40px;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #74e196;
  color: #fff;
}

.page-header {
 display: none; 
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: white;
  top: 0;
}

.page-header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
/*  position: relative;*/
  
}

.page-header__logo {
  width: 50px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.page-header__logo-desktop {
  display: none;
}

.page-header__main-nav {
  width: 100%;
  margin-top: 80px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.main-nav__item {
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #74e196;
  text-align: center;
}

.main-nav__link {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.contacts__phone {
  text-decoration: none;
  font-size: 22px;
  color: #000;
  font-weight: bold;
  margin-top: 30px;
}

.contacts__mail {
  text-decoration: none;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  margin-top: 5px;
}

.page-header__btn {
  border: 2px solid #74e196;
  color: #000;
  margin-top: 33px;
  margin-bottom: 33px;
}

.services__container {
  padding-top: 20px;
  width: 100%;

}

.services__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 12px;
  margin: 0;
}

.services__text {
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.services__list {

/*  margin-left: -40px;
  margin-right: -40px;*/
}

.services-item {
  width: 50%;
  float: left;
  box-sizing: border-box;
  position: relative;
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
}

.services-item--horizontal {
  width: 50%;
}

.services-item__img {
  height: 160px;
  overflow: hidden;
  border-right: 3px solid #fff;
}

.services-item__img-wrap:first-child {
  max-width: 100%;
  height: 100%;
}

.services-item--horizontal .services-item__img-wrap {
  max-width: 100%;
  height: auto;
}

.services-item--horizontal .services-item__img {
  height: 78px;
  border-right: none;
  margin-bottom: 2px;
}

.services-item__info {

}

.services-item__title {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  position: absolute;
  margin-left: 5px;
  bottom: 10px;
}

.services-item__text {
  display: none;
}

.services-item__meta {
  display: none;
}

.services-item__link {
  width: 35px;
  height: 30px;
  background-image: url(../images/sprite_iceace.png);
  background-position: -100px -185px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.trust {

}

.trust__container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.trust__title {
  font-size: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

.trust__list {
  display: flex;
  flex-direction: column;
}

.trust-item {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.trust-item__icon {
  width: 50px;
  height: 60px;
  background-image: url(../images/sprite_iceace.png);
}

.trust-item__icon--second {
  background-position: -75px 0;
}

.trust-item__icon--third {
  background-position: -157px 0;
}

.trust-item__icon--fourth {
  background-position: 0 -90px;
}

.trust-item__icon--fifth {
  background-position: -78px -90px;
}

.trust-item__icon--sixth {
  background-position: -160px -90px;
}

.trust-item__block {
  margin-left: 20px;
  flex-shrink: 7;
}

.trust-item__title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.trust-item__text {
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
}

.sale {
  background-image: url(../images/index/sale-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
}

.sale__title {
  font-size: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 90px;
  padding-top: 15px;
}

.sale__list {

}


.sale-item {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 140px;
}

.sale-item:nth-child(n+2) {
  display: none;
}

.sale-item__title {
  font-size: 22px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.sale-item__text {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  max-width: 400px;
  margin: 0 auto;
  font-weight: bold;
}

.sale-item__text span {
  color: #74e196;
}

.sale__btn {
  display: none;
}

.team {
  margin-top: 10px;
}

.team__container {
  text-align: center;
  background-image: url(../images/index/team-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 450px;
  width: 100%;
  padding-top: 350px;
}

.team__title {
  margin: 0;
  text-align: center;
  font-size: 24px;
}

.team__text {
  display: none;
 }

.team__btn {
  width: 220px;
  display: block;
  border: 3px solid #000;
  color: #74e196;
  margin: 0 auto;
}

.network__container {
  width: 100%;
}

.network__title {
  text-align: center;
  font-size: 24px;
  margin: 0;
}

.network__text {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  max-width: 600px;
  text-align: center;
  padding: 20px 10px;
  font-size: 15px;
  margin: 0 auto;
}

.community__container {
  width: 100%;
}


.community__title {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.community__list {
  display: flex;
  justify-content: space-between;
}

.community__item {
  margin: 0 2px;
}

.community__img {
  width: 100%;
  height: auto;
}

.page-footer {
  background-image: url(../images/index/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.page-footer__container {

}

.page-footer__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__block:first-child {
  margin-bottom: 20px;
}

.page-footer__logo {
  margin-top: 30px;
}

.page-footer__logo-img {
  width: 70px;
  height: 26px;
}

.page-footer__socials {
  margin-top: 45px;
}

.socials__list {
  padding: 0;
  margin: 0;
  text-align: center;
}

.socials__item {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.socials__link {
  display: block;
  width: 45px;
  height: 35px;
  background-image: url(../images/sprite_iceace.png);
}

.socials__link--youtube {
  background-position: -69px -235px;
}

.socials__link--instagram {
  background-position: -186px -235px;
}

.socials__link--facebook {
  background-position: -125px -235px;
}

.socials__link--vkontakte {
  background-position: -4px -235px;
}

.page-footer__contacts {
  margin-top: 55px;
}

.contacts__phone,
.contacts__mail {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-weight: bold;
}

.contacts__phone {
  font-size: 22px;
}

.contacts__mail {
  font-size: 20px;
}

.page-footer__copyright {
  font-size: 12px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin-bottom: 10px;
}

.page-footer__nav {
  display: none;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ИНСТРУКТОРЫ!!!!!!!!!!!!!!!!!!!!!!!!
*/




.search {
  margin-top: 20px;
}

.search__page-title {
  font-size: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}


.search__container {
  display: flex;
  justify-content: center;
}

.search-form {
  position: relative;
  
}

.search-form__input {
  display: block;
  width: 290px;
  height: 32px;
  border: 2px solid #000;
  font-size: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 20px;
  font-weight: bold;
}

.search-form__submit {
  position: absolute;
  display: block;
  background-image: url(../images/sprite_iceace.png);
  background-position: -257px 41px;
  width: 27px;
  height: 25px;
  border:none;
  background-color: transparent;
  top: 3px;
  right: 10px;
}

.coach-photos__container {
  width: 100%;
}

.coach-photos__list {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}

.coach-photos__item {
  position: relative;
  box-sizing: border-box;
  width: 230px;
  height: 230px;
}

.coach-photos__img {
  width: 100%;
  height: auto;
}

.coach-photos__link:before {
  content: '';
  background-color: #000;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.3;
}


.coach-photos__link {
  position: relative;
  display: block;
  overflow: hidden;
  width: 230px;
  height: 230px;
}

.coach-photos__link:hover {
 opacity: 0.8;
}


 .coach-photos__name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.coach {

}

.coach-card {
  padding-top: 10px;
  position: relative;
}

.coach-card__photo-wrap {
  position: relative;
  width: 270px;
  margin-left: 25px;
  margin: 0 auto;
}

.coach-card__photo-wrap:before {
  content: '';
  background-color: #000;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.3;
}


.coach-card__photo {
  width: 100%;
  height: auto;
}

.coach-card__photo-subject {
  position: absolute;
  color: #fff;
  top: 140px;
  left: 20px;
}

.coach-card__photo-btn {
  position: absolute;
  display: block;
  border: 3px solid #74e196;
  color: #fff;
  top: 210px;
  left: 70px;
}

.coach-card__skills-block {
  width: 150px;
 /* margin: 0 auto;*/
 margin-left: 10%;
}

.coach-card__skills-subject {
  display: none;
}

.coach-card__skills-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  list-style: none;
}

.coach-card__skills-item {
  display: flex;
/*  width: 50%;*/
  font-size: 14px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.coach-card__skills-title {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.coach-card__skills-text {
  font-size: 14px;
  color: #74e196;
  padding: 0; 
  margin: 0;
  font-weight: bold;
}

.coach-card__skills-icon {
  display: none;
}

.coach-card__skills-link {
  font-size: 17px;
  text-decoration: none;
  color: #74e196;
}

.coach-card__btn-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 295px;
}

.coach-card__btn {
  display: none;
}

.coach-card__score-btn {
  width: 50px;
  height: 40px;
  border: 3px solid #000;
  background-image: url(../images/sprite_iceace.png);
  background-position: -62px -184px;
  margin-top: 7px;
  background-color: transparent;
}

.coach-card__score {
  font-size: 20px;
  margin-left: 20px;
}

.coach-card__info {
  width: 86%;
  margin: 0 auto;
}

.coach-card__title {
  font-size: 14px;
}

.coach-card__text {
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.coach-card__video {
  margin: 0 auto;
  width: 290px;
  height: 230px;
  border: none;
}

.coach-card__video iframe {
  width: 100%;
  height: 100%;
}

.coach-reviews {
  margin: 0 auto;
}

.coach-review__title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.coach-reviews__item {
  position: relative;
  padding-top: 40px;
  background-image: url(../images/instructors/reviews-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.coach-reviews__user {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.coach-reviews__link {
  display: inline-block;
  width: 40px;
  height: 25px;
  background-image: url(../images/sprite_iceace.png);
  background-position: -7px -240px;
  vertical-align: middle;
  margin-left: 20px;
}

.coach-reviews__text {
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-left: 15px;
  padding-bottom: 55px;
  width: 92%;
}

.coach-reviews__btn {
  display: block;
  border: 3px solid #74e196;
  color: #000;
  margin: 22px auto;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!РАСПИСАНИЕ!!!!!!!!!!!!!!!!!!!!!!!*/

.page-title {
  text-align: center;
  font-size: 24px;
}

.choice-table {
  display: none;
}

.program-form__label {
  display: block;
  width: 290px;
  margin: 0 auto;
  font-size: 12px;
}

.program-form__select {
  display: block;
  width: 290px;
  height: 27px;
  margin: 0 auto;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.program-form__select option {
  font-size: 12px;
}

.program-form__select-wrap{
  position: relative;
  
  width: 290px;
  height: 27px;
  box-sizing: border-box;
  margin: 0 auto;
    margin-bottom: 5px;

  
}

.program-form__select-date {
  display: none;
  
  position: absolute;
  width: 18px;
  height: 18px;
  top: 4px;
  left: 265px;
  background-image: url(../images/shedule/calendar_icon.png);
}

.program-form__btn {
  display: block;
  color: #000;
  border: 3px solid #74e196;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 17px;
}

.instr-card {
  position: relative;
  border: 2px solid #000;
  padding-top: 20px;
  padding-bottom: 10px;
}

.instr-card__photo {
  position: relative;
  margin-bottom: 30px;  
}

.instr-card__photo-wrap {
  border: 3px solid #74e196;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.instr-card__img {
  width: 100%;
  height: auto;
}

.instr-card__caption {
  display: block;
  color: #fff;
  background-color: #000;
  width: 140px;
  height: 40px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 60px;
  margin: auto;
}

.instr-card__inner {
  display: block;
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
}

.instr-card__title,
.instr-card__subtitle {
  font-size: 14px;
}

.instr-card__date {
  font-size: 12px;
  font-weight: bold;
}

.instr-card__text {
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.instr-card__link {
  position: absolute;
  text-decoration: none;
  border-bottom: 2px solid #74e196;
  color: #000;
  font-size: 12px;
  right: 10px;
  bottom: 10px;
}

.instr-card__price-block {
  width: 150px;
  padding-left: 10px;
/*  border: 1px solid #000;*/
}

.instr-card__price {
  display: block;
  font-size: 16px;
/*  padding-bottom: 20px;*/
  font-weight: bold;
  margin-bottom: 10px;

}

.instr-card__btn {
  display: block;
  color: #74e196;
  border: 3px solid #000;
}

.pagination {
text-align: center;
}

.pagination__list {
  padding: 0;
}

.pagination__item {
  display: inline-block;
  padding: 0 2px;
}

.pagination__link {
  text-decoration: none;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  vertical-align: middle;
}

.pagination__link-icon {
  display: inline-block;
  width: 20px;
  height: 30px;
  background-image: url(../images/sprite_iceace.png);
  vertical-align: middle;
}

.pagination__link-icon--prev {
  background-position: -5px -188px;
}

.pagination__link-icon--next {
  background-position: -33px -188px;
}


.form__title {
  font-size: 24px;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
}

.form__label {
  display: block;
  width: 290px;
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  margin: 0 auto;
}

.form__input {
  display: block;
  width: 290px;
  height: 27px;
  border: 1px solid #000;
  padding-left: 5px;
  margin: 0 auto;
}

.form__textarea {
  display: block;
  width: 290px;
  height: 100px;
  border: 1px solid #000;
  margin: 0 auto;
  padding-left: 5px;
  resize: none;
}

.form__submit {
  display: block;
  color: #74e196;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 2px solid #000;
  line-height: 30px;
}















@media (min-width: 400px) {

.coach-card__skills-block {
  width: 150px;
  margin: 0 auto;
}


.instr-card__inner {
  width: 95%;
  text-align: center;
}

.instr-card__price {
  font-size: 20px;
}

}










@media (min-width: 470px) {

.services-item__img-wrap {
  max-width: 100%;
  height: auto;
}

.services-item__img {
  height: 250px;
}


.services-item--horizontal .services-item__img {
  height: 125px;
}


}




@media (min-width: 530px) {

.promo {
  background-position: center;
}

}






























@media (min-width: 767px) {

.promo {
  background-image: url(../images/index/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 475px;
}

.promo__title {
  width: 225px;
  font-size: 24px;
  margin-left: 85px;
}

.promo__title span {
  font-size: 20px;
  line-height: 50px;
}

.promo__btn {
  display: none;
}
.services__container {
  width: 740px;
}

.services__text {
  font-size: 20px;
}

.services__list {
  display: flex;
  justify-content: space-between;
}

.services-item,
.services-item--horizontal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
}

.services-item--horizontal:last-child {
 display: none;
}

.services-item--horizontal .services-item__img {
  height: 250px;
}

.services-item__img {
  height: 250px;
/*  margin-bottom: 20px;*/
}

.services-item--horizontal .services-item__img .services-item__img-wrap {
  height: 100%;
}


.services-item__img-title,
.services-item__img-link {
  display: none;
}

.services-item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

.services-item__title {
  display: block;
  position: static;
  font-weight: bold;
  font-size: 14px;
  color: #000;
  margin-left: 0;
}

.services-item__text {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.services-item__footer {

}

.services-item__meta {
  display: inline-block;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
}

.services-item__link {
  display: inline-block;
  position: static;
  float: right;
  vertical-align: middle;
  width: 35px;
  height: 30px;
  background-image: url(../images/sprite_iceace.png);
  background-position: -100px -188px;
}

.trust__container {
  width: 740px;
}

.trust__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
/*  margin-left: -10px;
  margin-right: -10px;*/
}

.trust-item {
  display: flex;
  flex-direction: column;
  width: 30%;
  box-sizing: border-box;
}

.trust-item__icon {
  width: 82px;
  height: 90px;
}

.trust-item__block {
  margin-left: 0;
  flex-shrink: 0;
}

.trust-item__title {
text-align: center;

}

.trust-item__icon {
  margin: 0 auto;
}

.sale {
  padding-bottom: 40px;
}

.sale__container {
  width: 740px;
}

.sale__title {
  margin-bottom: 40px;
}

.sale__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.sale-item {
  width: 33%;
  padding-bottom: 0;
}

.sale-item:nth-child(n+2) {
  display: flex;
  width: 33%;
  text-align: center;
}

.sale-item__text {
  width: 80%;
}

.sale__btn {
  display: block;
  border: 3px solid #fff;
  color: #74e196;
  margin: 0 auto;
}

.team {
margin-top: 30px;
}

.team__container {
  height: 750px;
  padding-top: 500px;
}


.team__text {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  width: 600px;
  margin: 0 auto;
  font-weight: bold;
}

.team__btn {
  margin-top: 50px;
}

/*ИНСТРУКТОРЫ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.coach-card {
  width: 750px;
}

.coach-card__photo-wrap {
  display: inline-block;
  margin: 0;
  width: 215px;
  height: 215px;
}

.coach-card__photo-btn {
  display: none;
}

.coach-card__skills-block {
  display: inline-block;
  vertical-align: top;
  width: 370px;
  margin-left: 30px;
}

.coach-card__photo-subject {
  display: none;
}

.coach-card__skills-subject {
  display: block;
  margin: 0;
}

.coach-card__skills-list {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.coach-card__skills-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.coach-card__skills-item:first-child .coach-card__skills-text {
  display: none;
}

.coach-card__skills-title {
  font-size: 20px;
}

.coach-card__skills-text {
  color: #000;
  margin-top: 10px;
  font-size: 17px;
}

.coach-card__skills-link {
  color: #000;
}

.coach-card__skills-icon {
  display: block;
  width: 45px;
  height: 80px;
  margin: 0 auto;
  background-image: url(../images/sprite_iceace.png);
  background-position: -255px -2px;
  margin-top: 10px;
}

.coach-card__btn {
  display: none;
}

.coach-card__btn-block {
  position: absolute;
  top: 10px;
}

.coach-card__info {
  display: inline-block;
  vertical-align: top;
  max-width: 400px;
}

.coach-card__video {
  display: inline-block;
  margin-left: 20px;
  height: 200px;
}

.coach-reviews__user {
  font-size: 20px;
}

.coach-reviews__text {
  font-size: 14px;
  width: 70%;
}


/*РАСПИСАНИЕ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/




.program-form {
  display: none;
}

.choice-table {
  display: table;
  margin: 0 auto;
}

.choice-table {
  border-collapse:collapse;
  width: 97%;
  margin-bottom: 20px;
}

.choice-table td {
  border: 3px solid #000;
}

.choice-table__link {
  text-decoration: none;
  color: #74e196;
}

.instr-card {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
}


.instr-card__photo-wrap {
  width: 200px;
  height: 200px;
}

.instr-card__img {
  width: 200px;
  height: 200px;
}

.instr-card__caption {
  width: 200px;
  height: 50px;
  line-height: 20px;
  padding-top: 5px;
  top: 170px;
}

.instr-card__inner {
  width: 300px;
  text-align: left;
}

.instr-card__link {
  position: static;
}

}














@media (min-width: 1000px) {

.coach-card {
   margin: 0 auto;
 
}


}
















































@media (min-width: 1200px) {

.container {
width: 1170px;
}

.promo__container {

}

.promo {
  height: 700px;
}

.promo__logo {
  display: none;
}

.promo__title {
  width: 550px;
  margin-top: 105px;
  color: #fff;
  font-size: 50px;
  font-weight: 800;
}

.promo__title span {
  color: #fff;
  font-size: 38px;
  font-weight: 600;
  line-height: 130px;
}

.page-header {
  display: block;
  position: static;
  width: 100%;
  background-color: white;
}

.promo__burger {
  display: none;
}

.page-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  display: none;
}

.page-header__logo-desktop {
  display: block;
  height: 55px;
}

.page-header__main-nav {
  width: 550px;
  margin-top: 0;
}

.page-header__socials {
  display: none;
}

.page-header__contacts .contacts__mail {
  display: none;
}


.main-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.main-nav__item {
  list-style: none;
  border-bottom: none;
  padding-top: 0;
  padding-bottom: 0;
}

.main-nav__link {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.main-nav__link:hover {
  border-bottom: 5px solid #74e196;
}

.main-nav__link:visited {
  border-bottom: 5px solid #74e196;
}

.page-header__contacts {

}

.contacts {
  
}

.contacts__phone {
  text-decoration: none;
  font-size: 22px;
  color: #000;
  margin-top: 0;
  font-weight: bold;
}

.page-header__btn {
  border: 3px solid #000;
  color: #74e196;
}


/*!!!!!!!!!!!!!!!!!!!services!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.services__title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.services__text {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.services__list {
  display: block;
  overflow: hidden;
  margin-left: -20px;
  margin-right: -20px;
}

.services-item {
  display: block;
  width: 33.33%;
  float: left;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.services-item--horizontal {
  width: 66.66%;
  float: left;
  padding-left: 10px;
}



.services-item--horizontal:last-child {
  display: block;
  margin-top: 30px;
}

.services-item--horizontal .services-item__img {
  height: 240px;
  width: 50%;
  float: left;
}



.services-item__img {
  height: 240px;
  box-sizing: border-box;
  overflow: hidden;
}

.services-item__info {
  height: 240px;
  box-sizing: border-box;
  float: left;
}

.services-item--horizontal .services-item__info {
  height: 240px;
  width: 50%;
  float: left;
}



.services-item--horizontal .services-item__info {
  padding-left: 20px;
  margin-top: 0;
}


/*.services-item__title:first-child {
  margin-top: 30px;
}*/

.services-item__title {
  font-weight: bold;
  font-size: 20px;
}

.services-item__text {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
}

.services-item__footer {

}

.services-item__meta {
  display: inline-block;
  vertical-align: middle;
  line-height: 35px;
  font-size: 20px;
  font-weight: bold;
  
}

.services-item__link {
  display: inline-block;
  width: 45px;
  height: 35px;
  float: right;
  background-image: url(../images/sprite_iceace.png);
  background-position: -95px -185px;
}


/* !!!!!!!!!!!!TRUST!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.trust {
  text-align: center;
}

.trust__container {

}

.trust__title {
  font-size: 40px;
}

.trust__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px;
}

.trust-item {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  box-sizing: border-box;
  padding: 0 20px;
}

.trust-item__title {
  font-size: 20px;
}

.trust-item__text {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
}

.trust-item__text:before {
  width: 82px;
  height: 90px;
  content: '';
  background-image: url(../images/sprite_iceace.png);
  background-size: 100%;
}

.trust-item__icon {

}

.trust-item__icon--first {

}

.trust-item__icon--second {
  background-position: -75px 0;
}

.trust-item__icon--third {
  background-position: -157px 0;
}

.trust-item__icon--fourth {
  background-position: 0 -90px;
}

.trust-item__icon--fifth {
  background-position: -78px -90px;
}

.trust-item__icon--sixth {
  background-position: -160px -90px;
}





/*!!!!!!!!!!!!!!!!!!!!!!SALE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/



.sale {
  background-image: url(../images/index/sale-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  color: #fff;
}

.sale__container {
  padding-bottom: 40px
}

.sale__title {
  font-size: 40px;
  text-align: center;
}

.sale-item {
 
}

.sale-item__title {
  font-size: 22px;
  text-align: center;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!TEAM!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.team {
/*  background: url(../images/index/team-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;*/
}

.team__container {
 /* height: 800px;*/
/* width: 100%;*/
}

.team__title {
  font-size: 40px;
}

.team__text {
  width: 770px;
}

.team__btn {
  width: 220px;
}

.network__title {
  font-size: 40px;
}

.network__text {
  width: 770px;
}



/*!!!!!!!!!!!COMMUNITY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


.community__container {

}

.community__title {
  font-size: 40px;
}

.community__list {

}

.community__item {
  margin: 0 9px;
}

.community__item:first-child {
  margin: 0 9px 0 -9px;
}

.community__item:last-child {
  margin: 0 -9px 0 9px;
}

/*!!!!!!!!!!!!ФУТЕР!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/


.page-footer {
  background-image: url(../images/index/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.page-footer__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-footer__logo {

}

.page-footer__logo-img {
  width: 160px;
  height: 55px;
}

.page-footer__socials {
  display: block;
}

.socials__list {
  padding: 0;
}

.socials__item {
  margin: 0 10px;
  display: inline-block;
}

.socials__link {
  display: block;
  width: 45px;
  height: 35px;
  background-image: url(../images/sprite_iceace.png);
}

.socials__link--youtube {
  background-position: -69px -235px;
}

.socials__link--instagram {
  background-position: -186px -235px;
}

.socials__link--facebook {
  background-position: -125px -235px;
}

.socials__link--vkontakte {
  background-position: -4px -235px;
}

.page-footer__contacts {

}

.contacts__phone,
.contacts__mail {
  display: block;
  margin-right: 0;
}


.page-footer__copyright {
  width: 350px;
  font-size: 15px;
  text-align: left;
}

.page-footer__nav {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  padding: 0;
}

.nav__item {
  margin: 0 10px;
  display: inline-block;
}

.nav__link {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

/*.nav__link:before {
  text-decoration: none;
  font-size: 15px;
  color: grey;
  font-weight: bold;
  text-transform: uppercase;
}
*/

/*СТРАНИЦА ИНСТРУКТОРОВ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


.search__page-title {
  font-size: 40px;
  margin-bottom: 50px;
}

.search-form__input {
  width: 640px;
  height: 48px;
  border: 3px solid #000;
  font-size: 15px;
  margin-bottom: 50px;
}

.search-form__submit {
  width: 35px;
  height: 35px;
  background-position: -257px 48px; 
}

.coach-photos__list {

}

.coach-card {
  padding-top: 40px;
  width: 1040px;
  margin: 0 auto;
}

.coach-card__photo-wrap {
  display: inline-block;
  vertical-align: top;
}

.coach-card__photo-btn {
  display: none;
}

.coach-card__photo-subject {
  display: none;
}

.coach-card__skills-block {
  display: inline-block;
  width: 520px;
  vertical-align: top;
}

.coach-card__skills-subject {
  display: block;
  font-size: 30px;
  margin: 0;
}

.coach-card__skills-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.coach-card__skills-item {

}

.coach-card__skills-title {

}

.coach-card__skills-text:first-child {
  display: none;
}

.coach-card__skills-icon {

}

.coach-card__skills-link {
  font-size: 17px;
  text-decoration: none;
  color: #000;
}

.coach-card__btn {
  display: block;
    width: 135px;
  border: 3px solid #000;
  color: #74e196;
  margin: 0 auto;
  position: absolute;
  top: 45px;
  right: -40px;
}

.coach-card__btn-block {
  position: absolute;
  right: 40px;
  top: 110px;
}


.coach-card__info {
  display: inline-block;
  width: 500px;
}

.coach-card__title {
  font-size: 20px;
}

.coach-card__text {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
}

.coach-card__video {
  display: inline-block;
  width: 500px;
  height: 280px;
  vertical-align: top;
  margin-left: 134px;
}

.coach-reviews {
  width: 1040px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.coach-review__title {
  display: none;
}

.coach-reviews__item {
  padding-left: 50px;
  padding-top: 30px;
  background-position: -100px 0;

}

.coach-reviews__user {
  display: inline-block;
}

.coach-reviews__link {
  
}

.coach-reviews__text {
  width: 700px;
  font-family: "PT Sans", sans-serif;
}

.coach-reviews__btn {
  display: none;
}

.page-footer {
  margin-top: 80px;
}



/*СТРАНИЦА РАСПИСАНИЯ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.page-title {
  text-align: center;
}

.instr-card {
  border: 2px solid #000;
  padding-top: 40px;
  padding-bottom: 30px;
}

.instr-card__photo {
  width: 30%;
}

.instr-card__photo-wrap {

}

.instr-card__caption {
  width: 200px;
  height: 50px;
  line-height: 20px;
  padding-top: 5px;
  top: 170px;
}

.instr-card__inner {
  width: 500px;
}

.instr-card__title {
  font-size: 30px;
  margin-top: 0;
}

.instr-card__date {
  font-size: 15px;
}

.instr-card__subtitle {
  font-size: 20px;
}

.instr-card__text {
  font-size: 15px;
}


.instr-card__text {
  font-family: "PT Sans", sans-serif;
  width: 400px;
}

.instr-card__link {
  text-decoration: none;
  border-bottom: 2px solid #74e196;
  color: #000;
  font-size: 15px;
}

.instr-card__price-block {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  padding-left: 60px;
}

.instr-card__price {
  display: block;
  font-size: 30px;
  padding-bottom: 20px;
}

.instr-card__btn {
  display: block;
  color: #74e196;
  border: 3px solid #000;
}

.pagination {
text-align: center;
}

.pagination__list {
  padding: 0;

}

.pagination__item {
  display: inline-block;
  padding: 0 2px;
}

.pagination__link {
  text-decoration: none;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  vertical-align: middle;
}

.pagination__link-icon {
  display: inline-block;
  width: 20px;
  height: 30px;
  background-image: url(../images/sprite_iceace.png);
  vertical-align: middle;
}

.pagination__link-icon--prev {
  background-position: -5px -188px;
}

.pagination__link-icon--next {
  background-position: -33px -188px;
}

.form__title {
  text-align: center;
  font-size: 40px;
}

.form__label {
  display: block;
  width: 560px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 20px;
  font-size: 20px;
}

.form__input {
  display: block;
  width: 560px;
  height: 47px;
  margin: 0 auto;
  border: 2px solid #000;
}

.form__textarea {
  display: block;
  width: 560px;
  height: 120px;
  margin: 0 auto;
  border: 2px solid #000;
}

.form__submit {
  display: block;
  color: #74e196;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fff;
  border: 2px solid #000;
  line-height: 30px;
}

}
