@font-face {
  font-family: "Futura PT";
  src:  url("../fonts/Futura-Normal.woff2") format("woff2");
        url("../fonts/Futura-Normal.woff") format("woff");
        url("../fonts/Futura-Normal.ttf") format("ttf");
        font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src:  url("../fonts/Futura-Bold.woff2") format("woff2");
        url("../fonts/Futura-Bold.woff") format("woff");
        url("../fonts/Futura-Bold.ttf") format("ttf");
        font-weight: bold;
}
body {
  font-family: "Futura PT", sans-serif;
  font-size: 15px;
}

.container {
  width: 1160px;
  height: 100%;
  margin: 0 auto;
  border: 2px solid green;
}

.promo {
  background: url(../images/index/header-bg.jpg) no-repeat center;
  width: 100%;
  height: 645px;

}
.promo__title {
  width: 550px;
  margin-top: 105px;
  color: #fff;
  font-size: 50px;
  font-weight: 800;
}

.promo__title span {
  color: #fff;
  font-size: 38px;
  font-weight: 600;
  line-height: 130px;
}

.page-header {
    text-align: center;

}

.page-header__container {

}

.page-header__logo {
  width: 160px;
  height: 50px;
  border: 5px solid #000;
  display: inline-block;
  vertical-align: middle;

}

.logo__img {
  display: block;
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Avenir Next", sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}

.page-header__main-nav {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid red;
}

.main-nav__list {
  padding: 0;
}

.main-nav__item {
  display: inline-block;
  margin-left: 40px;
  border: 2px solid red;
}

.main-nav__link {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.page-header__contacts {
  display: inline-block;
  vertical-align: middle;
}

.contacts {
  
}

.contacts__phone {
  text-decoration: none;
  font-size: 22px;
  color: #000;
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
  font-weight: bold;
}

.page-header__btn {
  display: inline-block;
  border: 3px solid #000;
  color: #74e196;
  vertical-align: middle;
  margin-left: 35px;
}

.btn {
  width: 135px;
  height: 40px;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
/*!!!!!!!!!!!!!!!!!!!services!!!!!!!!!!!!!!!!!!!!*/

.services__title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.services__text {
  font-size: 20px;
  text-align: center;
}

.services__list {
  overflow: hidden;
  margin-left: -20px;
  margin-right: -20px;
}

/*.services__container {
  width: 1160px;
  margin: 0 auto;
}*/

.services-item {
width: 33.33%;
float: left;
box-sizing: border-box;
border: 1px solid #000;
padding-left: 20px;
padding-right: 20px;
}

.services-item--horizontal {
  width: 66.66%;
  /*float: left;*/
}


.services-item--horizontal .services-item__img,
.services-item--horizontal .services-item__info {
  height: 240px;
  width: 50%;
  float: left;
}

.services-item--horizontal .services-item__info {
  padding-left: 20px;
}


.services-item__img {
  height: 240px;
 /* width: 360px;*/
  box-sizing: border-box;
  border: 1px solid red;
  overflow: hidden;
  
}

.services-item__info {
  height: 240px;
  box-sizing: border-box;
  float: left;
  border: 1px solid red;
}

.services-item__footer {
  border: 1px solid #000;
}

.services-item__meta {
  display: inline-block;
  vertical-align: middle;
  line-height: 35px;
  font-size: 20px;
}

.services-item__link {
  display: inline-block;
  width: 45px;
  height: 35px;
  border: 1px solid #000;
  /*vertical-align: middle;*/
  float: right;
  background-image: url(../images/sprite_iceace.png);
  background-position: -95px -185px;
}


/* !!!!!!!!!!!!TRUST!!!!!!!!!!!!*/

.trust {
  text-align: center;
}

.trust__title {
  font-size: 40px;
}

/*.trust__container {
  width: 1160px;
  margin: 0 auto;
}*/


.trust__list {
  margin-left: -20px;
  margin-right: -20px;
}

.trust__list:after {
  content: '';
  display: block;
  clear: both;
  
}

.trust-item {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 0 20px;
  
}

/*.trust__item:nth-child(4n+1) {
  clear: left;
} */

.trust-item__title {
  font-size: 20px;
}

.trust-item__text {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
}

.trust-item__icon {
  display: inline-block;
  width: 82px;
  height: 90px;
  border: 1px solid #000;
  background-image: url(../images/sprite_iceace.png);
}

.trust-item__icon--first {
/*  background-image: url(../images/sprite_iceace.png);
*/}

.trust-item__icon--second {
/*  background-image: url(../images/sprite_iceace.png);
*/  background-position: -75px 0;
}

.trust-item__icon--third {
/*  background-image: url(../images/sprite_iceace.png);
*/  background-position: -157px 0;
}

.trust-item__icon--fourth {
/*  background-image: url(../images/sprite_iceace.png);
*/  background-position: 0 -90px;
}

.trust-item__icon--fifth {
/*  background-image: url(../images/sprite_iceace.png);
*/  background-position: -78px -90px;
}

.trust-item__icon--sixth {
/*  background-image: url(../images/sprite_iceace.png);
*/  background-position: -160px -90px;
}





/*!!!!!!!!!!!!!!!!!!!!!!SALE!!!!!!!!!!!!!!!!!!!
*/



.sale {
  background: url(../images/index/sale-bg.jpg) no-repeat center;
  width: 100%;
  color: #fff;
  font-size: 0;
}

.sale__container {
  padding-bottom: 40px
}

.sale__title {
  font-size: 40px;
  text-align: center;
}

.sale-item {
  display: inline-block;
  width: 33.33%;
  text-align: center;
  border: 1px solid red;
  box-sizing: border-box;
  margin-bottom: 45px;
}

.sale-item__title {
  font-size: 22px;
  text-align: center;
}

.sale-item__text {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  width: 60%;
  border: 1px solid #000;
  margin: 0 auto;
}

.sale-item__text span {
  color: #74e196;
}


.sale__btn {
  display: block;
  border: 3px solid #fff;
  color: #74e196;
  margin: 0 auto;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!TEAM!!!!!!!!!!!!!
*/
.team {
  background: url(../images/index/team-bg.jpg) no-repeat center;
  width: 100%;

}

.team__container {
  text-align: center;
  height: 800px;
  background: linear-gradient(to top, #fff 13%, rgba(225, 225, 225, 0.1) 50%);
}

.team__title {
  margin-top: 75px;
  font-size: 40px;
}

.team__text {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  width: 760px;
  margin: 0 auto;
  margin-bottom: 65px;
  margin-top: 450px;
 }

.team__btn {
  width: 220px;
  display: block;
  border: 3px solid #000;
  color: #74e196;
  margin: 0 auto;
}


.network__title {
  text-align: center;
  font-size: 40px;
}

.network__text {
  width: 780px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 43px;
}

.community__container {
  text-align: center;
  border: 1px solid red;
}

.community__title {
  color: #000;
  text-decoration: none;
  font-size: 40px;
}

.community__list {
  text-align: center;
  border: 1px solid #000;
}

.community__item {
  display: inline-block;
  width: 187px;
  height: 187px;
  border: 1px solid #000;
}



/*!!!!!!!!!!!!ФУТЕР!!!!!!!!!!!!!!!!!!!!
*/


.page-footer {
  background: url(../images/index/footer-bg.jpg) no-repeat center;
  width: 100%;
  height: 300px;
}

.page-footer__block {
  display: block;
  margin-top: 50px;
}

.page-footer__logo {
  width: 160px;
  height: 50px;
  border: 5px solid #000;
  display: inline-block;
  vertical-align: middle;
}

.page-footer__socials {
  display: inline-block;
  border: 1px solid #000;
}

.socials__list {
  padding: 0;
text-align: center;

}

.socials__item {
  display: inline-block;
}

.socials__link {
  display: block;
  width: 45px;
  height: 35px;
  border: 1px solid #000;
  background-image: url(../images/sprite_iceace.png);
}

.socials__link--youtube {
  background-position: -69px -235px;
}

.socials__link--instagram {
  background-position: -186px -235px;
}

.socials__link--facebook {
  background-position: -125px -235px;
}

.socials__link--vkontakte {
  background-position: -4px -235px;
}

.page-footer__contacts {
  display: inline-block;
  border: 1px solid #000;
  
}

.contacts__phone,
.contacts__mail {
  display: block;
  
  border: 1px solid #000;
margin-right: 0;  
}


.page-footer__copyright {
  display: inline-block;
  width: 350px;
  vertical-align: middle;
  
}

.page-footer__nav {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid red;
}

.nav__list {
  padding: 0;
}

.nav__item {
  display: inline-block;
  margin-left: 40px;
  border: 2px solid red;
}

.nav__link {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.page-header__contacts {
  display: inline-block;
  vertical-align: middle;
}


/*СТРАНИЦА ИНСТРУКТОРОВ!!!!!!!!!!!!!!*/


.page-title {
  text-align: center;
}

.search-form__input {
  display: block;
  width: 640px;
  height: 48px;
  border: 3px solid #000;
  font-size: 15px;
  margin: 0 auto;
}

.search-form__submit {
  display: block;
  background-image: url(../images/sprite_iceace.png);

  width: 35px;
  height: 35px;
}

.coach-photos__list {
  padding: 0;
}

.coach-photos__item {
  box-sizing: border-box;
  width: 228px;
  height: 228px;
  display: inline-block;
}


.coach-card {
  padding-top: 40px;
  width: 1040px;
  border: 1px solid #000;
margin: 0 auto;  
}

.coach-card__photo-wrap {
  display: inline-block;
  vertical-align: top;
  
}

.coach-card__skills-block {
  display: inline-block;
  width: 450px;
  vertical-align: top;
  border: 1px solid #000;
}

.coach-card__skills-subject {
  display: block;
  font-size: 30px;
  border: 1px solid #000;
  margin: 0;
}

.coach-card__skills-list {
  padding: 0;
  font-size: 0;
}

.coach-card__skills-item {
  display: inline-block;
  border: 1px solid #000;
  vertical-align: top;
  width: 32%;
  font-size: 14px;
  text-align: center;
  
}

.coach-card__skills-title {
  font-size: 25px;
}

.coach-card__skills-icon {
  width: 45px;
  height: 80px;
  border: 1px solid #000;
  margin: 0 auto;
  background-image: url(../images/sprite_iceace.png);
  background-position: -255px -2px;
}

.coach-card__skills-link {
  font-size: 17px;
  text-decoration: none;
  color: #000;
}

.coach-card__btn-block {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}

.coach-card__btn {
  display: block;
  border: 3px solid #000;
  color: #74e196;

}

.coach-card__score-btn {
  width: 60px;
  height: 45px;
  border: 3px solid #000;
  background-image: url(../images/sprite_iceace.png);
  background-position: -60px -182px;
  margin-top: 30px;
}

.coach-card__score {
  font-size: 20px;
  margin-left: 20px;
}

.coach-card__info {
  display: inline-block;
  width: 500px;
  border: 1px solid #000;
}

.coach-card__video {
  display: inline-block;
  width: 500px;
  height: 280px;
  border: 1px solid #000;
  vertical-align: top;
  
}

.coach-reviews {
  background: url(../images/instructors/reviews-bg.jpg) no-repeat center;
  width: 1040px;
  height: 220px;
  margin: 0 auto;
}

.coach-reviews__item {
  width: 700px;
  height: 150px;
  padding-left: 50px;
  padding-top: 30px;
}

.coach-reviews__user {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  
}

.coach-reviews__link {
  display: inline-block;
  width: 35px;
  height: 25px;
  background-image: url(../images/sprite_iceace.png);
  background-position: -60px -182px;
  vertical-align: top;
  
}

.coach-reviews__text {
  width: 700px;
}

.coach-photos__link {
/*  display: block;
*/  margin: 0;
  padding: 0;
}
.coach-photos__img {
  
}





/*СТРАНИЦА РАСПИСАНИЯ!!!!!!!!!!!!!!*/

.page-title {
  text-align: center;
}


.choice-table {
border-collapse:collapse;
width: 1160px;
}

.choice-table td {
  border: 3px solid #000;
}

.choice-table__link {
  text-decoration: none;
  color: #74e196;
}



.instr-card {
  border: 2px solid #000;
  padding-top: 40px;
  padding-bottom: 30px;
}

.instr-card__photo {
  display: inline-block;
  border: 1px solid #000;
  width: 30%;
}

.instr-card__photo-wrap {
  display: inline-block;
  border: 3px solid #74e196;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: top;
  position: relative;
  z-index: 1;
  margin-left: 55px;
}

.instr-card__img {
  width: 200px;
  height: 200px;
}

.instr-card__caption {
  display: block;
  color: #fff;
  background-color: #000;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 20px;
  padding-top: 5px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  margin: -45px 0 0 55px;
}

.instr-card__inner {
  display: inline-block;
  width: 500px;
  border: 1px solid #000; 
  vertical-align: top;
}


.instr-card__text {
  font-family: "PT Sans", sans-serif;
  width: 400px;
}

.instr-card__link {
  text-decoration: none;
  border-bottom: 2px solid #74e196;
  color: #000;
}

.instr-card__price-block {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  padding-left: 60px;
}

.instr-card__price {
  display: block;
  font-size: 30px;
  padding-bottom: 20px;
}

.instr-card__btn {
  display: block;
  color: #74e196;
  border: 3px solid #000;
}

.pagination {
text-align: center;
}

.pagination__list {
  padding: 0;

}

.pagination__item {
  display: inline-block;
  padding: 0 2px;
}

.pagination__link {
  text-decoration: none;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  vertical-align: middle;
}

.pagination__link-icon {
  display: inline-block;
  width: 20px;
  height: 30px;
  background-image: url(../images/sprite_iceace.png);
  vertical-align: middle;
}

.pagination__link-icon--prev {
  background-position: -5px -188px;
}

.pagination__link-icon--next {
  background-position: -33px -188px;
}

.form__title {
  text-align: center;
  font-size: 40px;
}

.form__label {
  display: block;
  width: 560px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 20px;
  font-size: 20px;
}

.form__input {
  display: block;
  width: 560px;
  height: 47px;
  margin: 0 auto;
  border: 2px solid #000;
}

.form__textarea {
  display: block;
  width: 560px;
  height: 120px;
  margin: 0 auto;
  border: 2px solid #000;
}

.form__submit {
  display: block;
  color: #74e196;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fff;
  border: 2px solid #000;
  line-height: 30px;
}


